:root {
    --main-color: #483D8B; 
    --secondary-color: #43aaaa;
}

.container {
    margin: 0 50px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.nav {
}

.nav a {
    padding: 0 20px;
}

.header__button {
    flex-basis: 100px;
}